[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
mido = "*"
python-rtmidi = "*"
ipython = "*"
jupyter = "*"
flask = "*"
flask-socketio = "*"
flask-cors = "*"
tinydb = "*"
socketio-client = "*"

[requires]
python_version = "3.7"
